@mixin form($legend-color) {
  margin-bottom: 1rem;

  fieldset {
    padding: 0.5rem;
    border: 3px double #ddd;
    border-radius: 0.5rem;
  }

  legend {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: $legend-color;
    border-radius: 1rem;
    padding: 0.5rem 1rem;

    > svg {
      margin-left: 0.5rem;
    }
  }

  label {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 auto 0.5rem;
    display: block;
  }

  input {
    width: 80%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    margin: 0 auto 1rem;
  }

  select {
    width: 80%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    margin: 0 auto 1rem;
    text-align: center;
  }
}

.bookshelf {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: serif;
    margin-bottom: 20px;
    svg {
      margin-right: 0.5rem;
    }
  }

  &__deleteBtn {
    background-color: #ed4646;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 0 auto 1.5rem;
    display: flex;
    align-items: center;
    &:hover {
      box-shadow: none;
      filter: brightness(1.1);
    }

    > svg {
      margin-left: 0.5rem;
    }
  }

  &__dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    background-color: #f7fb83;
    border: 3px solid #ed4646;
    line-height: 1.5;
    border-radius: 1rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    &::backdrop {
      background-color: rgba($color: #000, $alpha: 0.2);
    }

    p {
      text-align: left;
    }

    code {
      background-color: #ddd;
      padding: 0.5rem;
      line-height: 1;
      border-radius: 0.5rem;
    }

    span {
      font-weight: bold;
      color: #ed4646;
    }

    input {
      width: 12rem;
      padding: 0.25rem;
    }
    button {
      margin-left: 0.5rem;
      background-color: #007bff;
      color: #fff;
    }
  }

  &__choice {
    @include form(#4683ea);
  }

  &__filter {
    @include form(#f7fb83);
  }

  &__fetch-all-msg {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: serif;
  }
}
