@use "../foundation/_media.scss" as media;

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

$spinner-color: rgb(63, 249, 220);

.loading-circle {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0 auto;
  @include media.pc {
    width: 10rem;
    height: 10rem;
  }

  &-border {
    width: 5rem;
    height: 5rem;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $spinner-color;
    background: linear-gradient(
      0deg,
      rgba($spinner-color, 0.1) 33%,
      rgba($spinner-color, 1) 100%
    );
    animation: spin 0.8s linear 0s infinite;
  }

  &-core {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
  }
}
