main {
  background-color: #fff;
  color: #000;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

.toTopBtn {
  width: 3rem;
  height: 3rem;
  background-color: #777777;
  border-radius: 50%;
  color: #fff;
  position: fixed;
  bottom: 10%;
  right: 10%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  &:hover {
    filter: opacity(0.5);
  }
  &.toTopBtn--show {
    opacity: 1;
    visibility: visible;
  }
}
