html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  &.dialog-open {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}
